In [1]:
import pandas as pd

In [32]:
dados = pd.read_csv('./DadosDasPancsv.csv')

In [9]:
dados

,Patient,Date of birth,PAN date,Age at PAN,PAN Path
0,ABEL GONCALVES DA CUNHA,01-03-1970,05-10-2016,46.59,E:\DAVI\Image_for_segmentation\ABEL GONÇALVES ...
1,ACCACIO ALEIXO,05-05-1938,16-05-2016,78.03,E:\DAVI\Image_for_segmentation\ACCACIO ALEIXO\...
2,ACIR CARLOS MASSON,16-03-1951,28-01-2020,68.87,E:\DAVI\Image_for_segmentation\ACIR CARLOS MAS...
3,ADALBERTO CESAR MARQUES,19-06-1964,28-03-2017,52.78,E:\DAVI\Image_for_segmentation\ADALBERTO CESAR...
4,ADAMOR DE FREITAS FERREIRA LEITE,21-02-1950,01-07-2015,65.36,E:\DAVI\Image_for_segmentation\ADAMOR DE FREIT...
...,...,...,...,...,...
1591,ZELIA MARIA PEREIRA,14-10-1944,24-11-2014,70.11,E:\DAVI\Image_for_segmentation\ZELIA MARIA PER...
1592,ZILDA LEITE DA SILVA,17-08-1957,14-09-2016,59.07,E:\DAVI\Image_for_segmentation\ZILDA LEITE DA ...
1593,ZILDA SCHIAVON CAMILLO,15-09-1961,29-02-2016,54.46,E:\DAVI\Image_for_segmentation\ZILDA SCHIAVON ...
1594,ZINEIA FURLAN,02-01-1966,02-05-2017,51.33,E:\DAVI\Image_for_segmentation\ZINEIA FURLAN\Z...
1595,ZINEIA FURLAN,02-01-1966,27-02-2018,52.15,E:\DAVI\Image_for_segmentation\ZINEIA FURLAN\Z...

In [27]:
dados.duplicated('Date of birth').value_counts()

True     943
False    653
dtype: int64

In [26]:
dados.duplicated('Age at PAN').value_counts()

False    842
True     754
dtype: int64

In [28]:
#valor de duplicados dado no true
dados.duplicated(subset=('Age at PAN', 'Date of birth')).value_counts()

False    920
True     676
dtype: int64

In [29]:
#excluindo a combinação de dados duplicados dos dois
dados_utilizados = dados.drop_duplicates(subset=('Age at PAN', 'Date of birth'))

In [30]:
dados_utilizados

,Patient,Date of birth,PAN date,Age at PAN,PAN Path
0,ABEL GONCALVES DA CUNHA,01-03-1970,05-10-2016,46.59,E:\DAVI\Image_for_segmentation\ABEL GONÇALVES ...
1,ACCACIO ALEIXO,05-05-1938,16-05-2016,78.03,E:\DAVI\Image_for_segmentation\ACCACIO ALEIXO\...
2,ACIR CARLOS MASSON,16-03-1951,28-01-2020,68.87,E:\DAVI\Image_for_segmentation\ACIR CARLOS MAS...
3,ADALBERTO CESAR MARQUES,19-06-1964,28-03-2017,52.78,E:\DAVI\Image_for_segmentation\ADALBERTO CESAR...
4,ADAMOR DE FREITAS FERREIRA LEITE,21-02-1950,01-07-2015,65.36,E:\DAVI\Image_for_segmentation\ADAMOR DE FREIT...
...,...,...,...,...,...
1587,WALTER LUIZ BERTOLDI,18-10-1958,11-08-2015,56.82,E:\DAVI\Image_for_segmentation\WALTER LUIZ BER...
1588,WILIAN SANTOS VASCONCELOS,05-03-1959,11-05-2017,58.18,E:\DAVI\Image_for_segmentation\WILIAM SANTOS V...
1589,WILSON ALVES DE ALMEIDA,31-01-1962,05-01-2017,54.93,E:\DAVI\Image_for_segmentation\WILSON GONÇALVE...
1591,ZELIA MARIA PEREIRA,14-10-1944,24-11-2014,70.11,E:\DAVI\Image_for_segmentation\ZELIA MARIA PER...
1592,ZILDA LEITE DA SILVA,17-08-1957,14-09-2016,59.07,E:\DAVI\Image_for_segmentation\ZILDA LEITE DA ...

In [31]:
#verificando se não há dados duplicados apos exclusão, batendo com o duplicat
dados_utilizados.duplicated().value_counts()

False    920
dtype: int64